name: Trigger auto deployment for fiapcloudgames

# When this action will be executed
on:
  # Automatically trigger it when detected changes in repo
  push:
    branches: 
      [ main ]
    paths:
    - '**'
    - '.github/workflows/fiapcloudgames-AutoDeployTrigger-e853889f-a4ab-4ede-97f3-2b4b14501343.yml'

  # Allow manual trigger 
  workflow_dispatch:      

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions: 
      id-token: write #This is required for requesting the OIDC JWT Token
      contents: read #Required when GH token is used to authenticate with private repo

    steps:
      - name: Checkout to the branch
        uses: actions/checkout@v2

      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.FIAPCLOUDGAMES_AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.FIAPCLOUDGAMES_AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.FIAPCLOUDGAMES_AZURE_SUBSCRIPTION_ID }}

      - name: Build and push container image to registry
        uses: azure/container-apps-deploy-action@v2
        with:
          appSourcePath: ${{ github.workspace }}
          _dockerfilePathKey_: _dockerfilePath_
          _targetLabelKey_: _targetLabel_
          registryUrl: fiapcloudgameacr.azurecr.io
          registryUsername: ${{ secrets.FIAPCLOUDGAMES_REGISTRY_USERNAME }}
          registryPassword: ${{ secrets.FIAPCLOUDGAMES_REGISTRY_PASSWORD }}
          containerAppName: fiapcloudgames
          resourceGroup: fiap
          imageToBuild: fiapcloudgameacr.azurecr.io/fiapcloudgames:${{ github.sha }}
          _buildArgumentsKey_: |
            _buildArgumentsValues_


